<div class="message">
  <mat-card [attr.data-outgoing]="message.isOutgoing" [attr.data-deleted]="message.deleted">
    <mat-card-subtitle>
      {{ message.userId }}
    </mat-card-subtitle>
    <mat-card-content *ngIf="message.type=='ukn'">{{ message.content | json }}</mat-card-content>
    <mat-card-content *ngIf="message.type=='txt'">{{ message.content }}</mat-card-content>
    <mat-card-content *ngIf="message.type=='stk'"><img [src]="'/api/file/fetch/' + message.content[0]"></mat-card-content>
    <mat-card-content *ngIf="message.type=='pic'"><img [src]="'/api/file/fetch/' + message.content[1]">{{ message.content[0] }}</mat-card-content>
    <mat-card-content *ngIf="message.type=='gif'">
      <video autoplay loop [poster]="'/api/file/fetch/' + message.content[1]" [src]="'/api/file/fetch/' + message.content[2]"></video>
      {{ message.content[0] }}
    </mat-card-content>
    <mat-card-content *ngIf="message.hasEdits" [hidden]="editsHidden">
      <mat-list dense>
        <mat-list-item *ngFor="let edit of edits">
          {{ edit.content }}
          <span>{{ edit.createdAt }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-footer>
      <span>{{ message.createdAt }}</span>
      <span *ngIf="message.deleted">{{ message.deletedAt }}</span>
    </mat-card-footer>
    <mat-card-actions *ngIf="message.hasEdits">
      <button mat-button *ngIf="message.hasEdits" (click)="toggleEdits()">Edits</button>
    </mat-card-actions>
  </mat-card>
</div>