mat-card {
    max-width: 300px;
    width: 80%;
    padding-top: 5px;
    color: white;
}
mat-card[data-outgoing='false'] {
    background-color: #182533;
}
mat-card[data-outgoing='true'] {
    margin-left: auto;
    background-color: #2B5278;
}
mat-card[data-deleted='true'] {
    background-color: rgb(128, 0, 0);
}

.message {
    width: 100%;
    display: block;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
}
mat-card-subtitle {
    color: white;
}
mat-card-subtitle > forward-info {
    color: white;
    font-weight: bold;
}

// Footer Stuff
mat-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
mat-card-footer > mat-icon {
    font-size: 0.95rem !important;
}
mat-card[data-outgoing='false'] mat-card-footer span {
    order: 0;
    // text-align: right;
}
mat-card[data-outgoing='true'] mat-card-footer span {
    order: 1;
    // text-align: left;
}
mat-card[data-outgoing='false'] mat-card-footer button {
    order: 1;
}
mat-card[data-outgoing='true'] mat-card-footer button {
    order:0;
}

// Date
.msgDate {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 1.2rem;
    font-family: monospace;
}