<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="location.back()" >
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <mat-list>
      <mat-list-item>
        <img matListAvatar *ngIf="basicChatNamesets.length > 0" [src]="'/api/file/fetch/' + basicChatNamesets[0].photo">
        <h2 matLine *ngIf="basicUserNamesets.length > 0">{{ basicUserNamesets[0].firstName }} {{ basicUserNamesets[0].lastName }}</h2>
        <p matLine *ngIf="basicUserInfos.length > 0">{{ basicUserInfos[0].bio }}</p>
        <!--
          <button mat-raised-button color="primary" (click)="showInfo=!showInfo">
            <mat-icon>history</mat-icon> {{ 'chat.message.history' | translate }}
          </button>
        -->
      </mat-list-item>
    </mat-list>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen style="top:0;left:0;width:100%; height: 100%; background: url('/assets/background.jpg') no-repeat center center scroll;background-size: cover;">
  <div id="chatContent">
    <mat-tab-group backgroundColor="primary" [(selectedIndex)]="selectedIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>chat</mat-icon> {{ 'chat.infos.chat' | translate }}
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon> {{ 'chat.infos.identities' | translate }}
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>bug_report</mat-icon> {{ 'chat.infos.debug' | translate }}
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <!-- Chat History -->
    <section class="chatTab" [hidden]="selectedIndex != 0">
      <ion-content>
        <ion-infinite-scroll threshold="100px" position="top" (ionInfinite)="loadData($event)" #scroll>
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <app-message [message]="message" [menu]="appMenu" (menuOpened)="menuOpened($event)" *ngFor="let message of cachedData"></app-message>
      </ion-content>
    </section>
    <mat-menu #appMenu="matMenu" yPosition="above">
      <ng-template matMenuContent>
        <!--
          <button mat-menu-item translate (click)="ctxMenu_OpenInTG()">
            chat.message.menu.openintg
          </button>
        -->
      </ng-template>
    </mat-menu>
    <!-- Identities -->
    <section class="chatTab" [hidden]="selectedIndex != 1">
      <h2 translate>chat.infos.identities</h2>
      <mat-list>
        <mat-list-item *ngFor="let chatNameset of basicChatNamesets">
          <img matListAvatar [src]="'/api/file/fetch/' + chatNameset.photo">
          <h3 matLine>{{ chatNameset.name }}</h3>
          <p matLine>
            <span>{{ formatDate(chatNameset.createdAt) }}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </section>
    <!-- Debug -->
    <section class="chatTab" [hidden]="selectedIndex != 2">
      <pre>{{ basicUser | json }}</pre>
      <pre>{{ basicUserInfos | json }}</pre>
      <pre>{{ basicUserNamesets | json }}</pre>
      <pre>{{ basicChatNamesets | json }}</pre>
    </section>
  </div>
</ion-content>
