<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="location.back()" >
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-message [message]="message" *ngFor="let message of cachedData"></app-message>
  <ion-infinite-scroll threshold="100px" position="top"  (ionInfinite)="loadData($event)" #scroll>
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
