<mat-toolbar-row>
  <button [hidden]="!menuService.mobileQuery.matches" mat-icon-button (click)="menuService.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 i18n="@@settingsTitle">Einstellungen</h2>
</mat-toolbar-row>

<ion-content>
  <form [formGroup]="changePasswordGroup">
    <p>
      <mat-form-field>
        <input matInput placeholder="Passwort" formControlName="password" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Passwort wiederholen" formControlName="confirm_password" required>
      </mat-form-field>
    </p>
    <div>
      <button mat-raised-button color="primary" (click)="changePW()" [disabled]="changePasswordGroup.invalid" i18n="@@settingsChangePWSubmit">Passwort ändern</button>
    </div>
  </form>
</ion-content>