<!-- 
  url("/assets/img/bg.jpg") center center / cover no-repeat fixed
-->
<ion-content>
  <!-- [hidden]="!authService.hasTokenValidationFailed()" -->
  <div id="fullBG">
    <form [formGroup]="loginFormGroup" id="authForm">
      <div text-center>
        <img src="/assets/safetygramlogo.png">
        <h1 translate>auth.title</h1>
      </div>
      <p>
        <mat-form-field class="fullWidth">
          <input matInput [placeholder]="'auth.password' | translate" type="password" formControlName="password" required>
        </mat-form-field>
      </p>
      <p class="submitButtonRow">
        <button class="submitButton" mat-raised-button color="primary" type="submit" (click)="login()" [disabled]="loginFormGroup.invalid">{{ 'auth.login' | translate }}</button>
      </p>
      <mat-nav-list style="overflow: hidden;">
        <mat-list-item role="listheader">
          <h3 matLine i18n="@@homeUsefulLinks">Useful Links</h3>
        </mat-list-item>
        <a mat-list-item href="https://github.com/cuddlycheetah/safetygram" target="_blank">
          <mat-icon matListIcon>open_in_new</mat-icon>
          <h3 matLine i18n="@@homeOpenOnGithub">Open on Github</h3>
        </a>
        <a mat-list-item href="https://t.me/SafetygramApp" target="_blank">
          <mat-icon matListIcon>message</mat-icon>
          <h3 matLine i18n="@@homeTelegram">Telegram Support</h3>
        </a>
        <a mat-list-item href="https://paypal.me/4thebadwoofsky" target="_blank">
          <mat-icon matListIcon>credit_card</mat-icon>
          <h3 matLine i18n="@@donate">Donate</h3>
        </a>
      </mat-nav-list>
    </form>
  </div>
</ion-content>