<div class="message">
  <mat-card [attr.data-outgoing]="message.isOutgoing" [attr.data-deleted]="message.deleted">
    <!--* Title -->
    <mat-card-subtitle>
      <forward-info *ngIf="message.isForwarded === true" [message]="message"></forward-info>
    </mat-card-subtitle>
    <!--* Content -->
    <mat-card-content *ngIf="message.type=='ukn'">{{ message.content | json }}</mat-card-content>
    <mat-card-content *ngIf="message.type=='txt'">{{ message.content }}</mat-card-content>
    <mat-card-content *ngIf="message.type=='stk'"><img [src]="'/api/file/fetch/' + message.content[0]"></mat-card-content>
    <mat-card-content *ngIf="message.type=='pic'"><img [src]="'/api/file/fetch/' + message.content[1]">{{ message.content[0] }}</mat-card-content>
    <mat-card-content *ngIf="message.type=='gif'"><img [src]="'/api/file/fetch/' + message.content[1]">{{ message.content[3] }}</mat-card-content>
    <mat-card-content *ngIf="message.type=='gif_'">
      <video autoplay loop [poster]="'/api/file/fetch/' + message.content[1]" [src]="'/api/file/clientfetch/' + message.content[2]"></video>
      <pre>{{ message.content[3] }}</pre>
    </mat-card-content>
    <mat-card-content *ngIf="message.hasEdits" [hidden]="editsHidden">
      <mat-list dense>
        <mat-list-item *ngFor="let edit of edits">
            <p *ngIf="message.type=='txt'">{{ edit.content }}</p>
            <p *ngIf="message.type=='pic'">{{ edit.content[1] || edit.content }}</p>
            <p *ngIf="message.type=='ukn'">{{ edit.content }}</p>
          <span class="msgDate">{{ formatDate(edit.createdAt) }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <!--* Footer-->
    <mat-card-footer>
      <!--* Text -->
      <span class="dateColumn">
        <span class="msgDate">{{ formatDate(message.createdAt) }}</span>
        <span class="msgDate" *ngIf="message.deleted">
          <mat-icon>delete</mat-icon>{{ formatDate(message.deletedAt) }}
        </span>
      </span>
      <!--* Context Menu Button -->
      <button mat-icon-button [mat-menu-trigger-for]="menu" (menuOpened)="openedContextMenu()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-footer>
    <mat-card-actions> <!--  *ngIf="message.hasEdits" -->
      <button mat-button *ngIf="message.hasEdits" (click)="toggleEdits()">Edits</button>
    </mat-card-actions>
  </mat-card>
</div>