<ion-app>
  <mat-sidenav-container style="width:100%; height:100%;">
    <mat-sidenav #snav [mode]="menuService.mobileQuery.matches ? 'over' : 'side'" [opened]="!menuService.mobileQuery.matches && authService.authSubject.value" class="customSidenav">
      <mat-toolbar>
        <img style="max-width: 300px;" src="/assets/safetygramlogo.png">
      </mat-toolbar>
      <mat-nav-list style="overflow-x: hidden; overflow-y: hidden;">
        <a mat-list-item routerDirection="root" routerLink="/home">
          <mat-icon matListIcon>home</mat-icon>
          <h3 matLine i18n="@@homeTitle">Home</h3>
        </a>
        <a mat-list-item routerDirection="root" routerLink="/users">
          <mat-icon matListIcon>people</mat-icon>
          <h3 matLine i18n="@@usersTitle">Benutzer</h3>
        </a>
        <a mat-list-item routerDirection="root" routerLink="/settings">
          <mat-icon matListIcon>settings</mat-icon>
          <h3 matLine i18n="@@settingsTitle">Einstellungen</h3>
        </a>
        <a mat-list-item routerDirection="root" routerLink="/update">
          <mat-icon matListIcon [matBadge]="authService.updateAvailableSubject.value ? '•' : undefined" matBadgeColor="warn">cloud_download</mat-icon>
          <h3 matLine i18n="@@updatesTitle">Updates</h3>
        </a>
      </mat-nav-list>
      <div class="customFlexMax"></div>
      <mat-nav-list>
        <a mat-list-item (click)="logout()">
          <mat-icon matListIcon>logout</mat-icon>
          <h3 matLine i18n="@@appLogout">Abmelden</h3>
        </a>
        <a mat-list-item target="_blank" href="https://paypal.me/4thebadwoofsky">
          <mat-icon matListIcon>credit_card</mat-icon>
          <h3 matLine i18n="@@settingsTitle">Donate</h3>
        </a>
        <a mat-list-item target="_blank" href="https://sch.umann.it">
          <pre matLine i18n="@@credits">made by Cuddly Cheetah</pre>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ion-router-outlet main></ion-router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ion-app>